.tweet {
    width: 400px;
    margin: 10px;
    border: Blue solid 2px;
    float: left;
    clear: none;
    position: relative;
}

.user {
  width: 30%;
  float:left;
}

.info {
  width: 70%;
  float: right;
}
