body {
  font-family: Verdana;
  font-size: 14px;
}

.tweet {
  width: 400px;
  margin: 10px;
  border: Gray solid 1px;
  float: left;
  clear: none;
}

.user {
  color: navy;
  width: 30%;
  float: left;
}

.info {
  width: 70%;
  float: right;
}
