body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(31, 77, 181);
}

h4 {
  margin: 2px;
}

.panel-body {
  float: left;
  height: 150px;
  overflow-y: scroll;
}
