#page-content-wrapper {
  padding-left: 45px;
}

.row {
  padding-bottom: 25px;
}


/*SIDEBAR*/

#sidebar-wrapper {
  background: rgb(50, 50, 50);
}

.sidebar-toggle-btn {
  z-index: 1;
  position: fixed;
}

#menu-toggle {
  background-color: rgb(50, 50, 50);
  color: #00B174;
}


/*PRESONAL INFO SECTION*/

#ppic {
  border-radius: 100%;
  width: 200px;
}

h1 {
  font-size: 60px;
}

h2 {
  color: #00B174;
}

h3, h4 {
  color: #00462e;
}

h3>b {
  color: white;
}


/*SOCIAL MEDIA SECTION*/

.social-media {
  float: left;
  clear: none;
  padding: 20px;
  transition: all 0.07s;
}

.highlight {
  color: #00B174 !important;
  border-color: #00B174;
  box-shadow: 0 0 15px #00B174;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-google-plus {
  color: #DB4437;
}

.fa-github {
  color: rgb(0, 0, 0);
}

.fa-stack-overflow {
  color: #F48024
}


/*PROJECTS SECTION*/

.text {
  padding: 15px;
}

.row .project {
  padding: 20px;
  text-align: center
}


/*FOOTER SECTION*/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
}
